.App {
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

.Todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 500px;
}

.Todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  font-size: 14px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Input {
  background-color: rgb(248, 248, 248);
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  height: 2.25em;
  padding-left: 10px;
  line-height: 1.5;
  width: 65%;
}

.Button {
  background: #209cee;
  color: #fff;
  padding: 10px 15px;
  font-size: 14px;
  margin-bottom: 6px;
  border-radius: 3px;
  width: 30%
}

form {
  display: flex;
  justify-content: space-between;
}